body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.menu {
    background: rgb(179, 165, 165);
    padding: 10px;
}

.menu a {
    color: rgb(34, 21, 213);
    margin: 10px;
    text-decoration: none;
}

h2 {
    margin-top: 20px;
}

p, form {
    margin: 10px;
}

table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid rgb(51, 26, 148);
    padding: 10px;
    text-align: center;
}

.add-btn {
    display: inline-block;
    background: green;
    color: white;
    padding: 10px;
    text-decoration: none;
    margin: 20px;
}

input[type="submit"] {
    background: rgb(0, 255, 174);
    color: rgb(229, 24, 24);
    padding: 10px;
    border: none;
    cursor: pointer;
}

a {
    color: rgb(17, 220, 95);
    text-decoration: none;
    margin: 10px;
}
